[submodule "scripts"]
	path = scripts
	url = git@github.com:WillNeve/dotfiles-scripts.git
[submodule "opencode/agent-skills"]
	path = opencode/agent-skills
	url = https://github.com/addyosmani/agent-skills.git
